*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: $white;
}

body {
	background-color: $bg-black;
	color: $white;
	letter-spacing: 3px;
}

body::-webkit-scrollbar {
	display: none;
}

input,
input:focus {
	border: none;
	outline: none;
}

@font-face {
	font-family: 'Helvetica Neue Bold';
	src: url('./fonts/HelveticaNeueCyr-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Helvetica Neue Light';
	src: url('./fonts/Helvetica\ Neue\ Light.woff2') format('woff2');
}

.container__global {
	height: 100vh;
	// scroll-snap-type: y mandatory;
	// overflow-y: scroll;
}

section {
	width: 100%;
	height: 100vh;
	// scroll-snap-align: center;
}