*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

body {
  background-color: #1d1d1d;
  color: #f1f1f1;
  letter-spacing: 3px;
}

body::-webkit-scrollbar {
  display: none;
}

input,
input:focus {
  border: none;
  outline: none;
}

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("./fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Helvetica Neue Light";
  src: url("./fonts/Helvetica Neue Light.woff2") format("woff2");
}
.container__global {
  height: 100vh;
}

section {
  width: 100%;
  height: 100vh;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, 4px, 0);
  }
}
@keyframes line {
  to {
    width: 100%;
  }
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  margin-top: 2rem;
  box-shadow: 1px 7px 5px -1px rgba(0, 0, 0, 0.2);
  padding-bottom: 45px;
}
nav .link__home {
  position: absolute;
  left: 3rem;
  top: -0.4rem;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue Light", "Helvetica", "Arial";
  display: flex;
}
nav ul li {
  transition: transform 0.3s;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 20px;
  cursor: pointer;
}
nav ul li:hover {
  transform: scale(1.08);
}
nav ul li:hover .border {
  visibility: visible;
  animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
nav ul .border {
  margin-top: 5px;
  border-bottom: 2px solid #7d1c32;
  width: 100%;
  visibility: hidden;
}
nav span {
  display: none;
}

#section__one {
  position: relative;
}
#section__one .scroll__bottom {
  width: 50px;
  height: 75px;
  position: absolute;
  bottom: 5vh;
  right: 49vw;
}
#section__one .scroll__bottom:hover {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#section__two h3 {
  color: #7d1c32;
  font-family: "Helvetica Neue Bold", "Helvetica";
  font-size: 30px;
  padding-top: 10rem;
  text-align: center;
}

.skills__grid {
  display: grid;
  grid-template-areas: "A B C";
  grid-template-columns: 1fr 1fr 500px;
}

.languages {
  grid-area: A;
  padding-left: 2rem;
  letter-spacing: normal;
  font-family: "Helvetica Neue Bold", "Helvetica";
}
.languages h3 {
  padding-bottom: 5rem;
  letter-spacing: 3px;
}
.languages .years {
  font-size: 0.85rem;
  display: flex;
  justify-content: space-between;
}
.languages .years span {
  width: 36%;
}
.languages .years span:nth-child(2) {
  text-align: center;
  width: 20%;
}
.languages .years span:nth-child(3) {
  text-align: right;
  width: 44%;
}
.languages .years span:nth-child(2):before, .languages .years span:nth-child(3):before {
  content: "";
  background: rgba(180, 179, 179, 0.5);
  position: absolute;
  height: 155px;
  width: 1px;
  transform: translate(9px, 19px);
}
.languages .languagesList {
  padding-top: 0.7rem;
}
.languages .languagesList .progressBar {
  height: 0.4rem;
  background: transparent;
  border-radius: 50px;
  margin-top: 0.2rem;
  position: relative;
}
.languages .languagesList .progressBar:after {
  content: "";
  position: absolute;
  background: #f1f1f1;
  border-radius: 50px;
  height: 0.4rem;
  width: 0;
  animation: line 2s ease-out forwards;
}

.others__skills {
  font-family: "Helvetica Neue Bold", "Helvetica";
  border: 2px solid #7d1c32;
  border-radius: 10px 0 0 10px;
  height: 35rem;
  border-right: none;
  grid-area: C;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.others__skills h3 {
  padding-bottom: 5rem;
}
.others__skills .others__list {
  display: flex;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
}
.others__skills .others__list ul li {
  padding: 20px;
}
.container__text {
  max-width: 60%;
  margin-left: 5rem;
  padding-top: 15%;
  font-family: "Helvetica Neue Light", "Helvetica", "Arial";
}
.container__text p {
  margin-bottom: 2rem;
}
.container__text p:nth-child(1) {
  font-size: 60px;
}
.container__text p:nth-child(2) {
  font-size: 30px;
}
.container__text p:nth-child(3) {
  font-size: 20px;
}

.typewriter__container {
  display: flex;
  justify-content: flex-start;
}
.typewriter__container .typewriter p {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  animation: typing 3s steps(40);
}
.typewriter__container .typewriter p::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 1px;
  background: #dadada;
  right: 0;
  top: 0;
  animation: cursor 1s infinite;
}/*# sourceMappingURL=index.css.map */