*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

main {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

body {
  background-color: #1d1d1d;
  color: #f1f1f1;
  letter-spacing: 1px;
  overflow-x: hidden;
  font-family: "Space Grotesk", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

input,
input:focus {
  border: none;
  outline: none;
}

section {
  min-height: 100vh;
}
@media screen and (max-width: 1280px) {
  section {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

h2 {
  font-size: 60px;
}

h2,
h5 {
  width: max-content;
  background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}

.reveal {
  -webkit-animation: puff-in-center 1.2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: puff-in-center 1.2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, 4px, 0);
  }
}
@keyframes focus-in-expand {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes line {
  to {
    width: 100%;
  }
}
@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-bottom {
  0% {
    -webkit-transform: translateZ(700px) translateY(300px);
    transform: translateZ(700px) translateY(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-left-fwd {
  0% {
    -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
    transform: translateX(-800px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 1800px 50%;
    transform-origin: 1800px 50%;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-right-fwd {
  0% {
    -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
    transform: translateX(800px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
    transform-origin: -1800px 50%;
    opacity: 1;
  }
}
.color__bar {
  width: 230px;
  height: 6px;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(175, 40, 71) 0%, rgb(241, 241, 241) 35%, rgb(235, 215, 148) 100%);
}

nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  box-shadow: 1px 7px 5px -1px rgba(0, 0, 0, 0.2);
  padding-top: 2rem;
  padding-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .link__home {
  position: absolute;
  left: 3rem;
}
@media screen and (max-width: 615px) {
  nav .link__home {
    position: initial;
  }
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 615px) {
  nav ul {
    display: none;
  }
}
nav ul li {
  transition: transform 0.3s;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (max-width: 940px) {
  nav ul li {
    font-size: 16px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 615px) {
  nav ul li {
    font-size: 24px;
  }
}
nav ul li:hover {
  transform: scale(1.08);
}
nav ul li:hover .border {
  visibility: visible;
  animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
nav ul .border {
  margin-top: 5px;
  border-bottom: 2px solid #af2847;
  width: 100%;
  visibility: hidden;
}

.nav__responsive {
  z-index: 1001;
  cursor: pointer;
  position: fixed;
  right: 48px;
  top: 20px;
}
.nav__responsive img {
  width: 35px;
}
.nav__responsive .navbar__mobile {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  z-index: 999;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__responsive .navbar__mobile .ul__mobile {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: -85px;
}
.nav__responsive .navbar__mobile .ul__mobile a,
.nav__responsive .navbar__mobile .ul__mobile div {
  padding-bottom: 35px;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.nav__responsive .navbar__mobile .ul__mobile p {
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px;
  font-size: 35px;
  position: absolute;
  top: 20px;
  right: 46px;
}

.anim-1 {
  animation-delay: 0.1s;
}

.anim-2 {
  animation-delay: 0.2s;
}

.anim-3 {
  animation-delay: 0.3s;
}

.anim-4 {
  animation-delay: 0.4s;
}

.confirm__container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  width: 100%;
  height: 60vh;
  position: absolute;
  top: 20%;
  font-size: 40px;
}

#section__four {
  position: relative;
}
#section__four .container__contact {
  padding-top: 15vh;
}
#section__four .container__contact .contact__form {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#section__four .container__contact .contact__form .form__container {
  min-width: 55vw;
}
@media screen and (max-width: 530px) {
  #section__four .container__contact .contact__form .form__container {
    max-width: 80vw;
  }
}
#section__four .container__contact .contact__form .contact__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
#section__four .container__contact .contact__form .contact__data h5 {
  font-size: 27px;
}
@media screen and (max-width: 470px) {
  #section__four .container__contact .contact__form .contact__data h5 {
    font-size: 22px;
  }
}
@media screen and (max-width: 385px) {
  #section__four .container__contact .contact__form .contact__data h5 {
    font-size: 17px;
  }
}
#section__four .container__contact .contact__form .contact__data p {
  font-weight: bold;
  margin-top: 15px;
  font-size: 18px;
}
#section__four .container__contact .contact__form form input {
  font-size: 16px;
  color: #f1f1f1;
  padding: 15px;
  border-bottom: 1px solid #f1f1f1;
  background-color: transparent;
}
#section__four .container__contact .contact__form form div {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
#section__four .container__contact .contact__form form div input {
  width: 48%;
}
#section__four .container__contact .contact__form form .input__email {
  width: 100%;
}
#section__four .container__contact .contact__form form .input__submit {
  border-bottom: none;
  font-family: "Space Grotesk", "sans-serif";
  cursor: pointer;
  background-image: linear-gradient(to right, #616161 0%, #9bc5c3 51%, #616161 100%);
  margin: 10px;
  padding: 9px 30px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  font-size: 18px;
  border-radius: 10px;
}
#section__four .container__contact .contact__form form .input__submit:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
#section__four .container__contact .contact__form textarea {
  font-size: 16px;
  resize: none;
  color: #f1f1f1;
  background-color: transparent;
  margin-top: 15px;
  width: 100%;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  padding: 2px;
}

.active__opacity {
  opacity: 0.2;
}

.social {
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 0;
  width: 7rem;
  height: 3rem;
  border: 1px solid #f1f1f1;
  border-right: none;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.social a:nth-child(2) img {
  width: 37px;
}
.social img {
  width: 30px;
}

#section__one {
  position: relative;
}

#section__two h3 {
  font-size: 30px;
  padding-top: 8rem;
  text-align: center;
}

.technologies {
  padding-top: 15vh;
}
@media screen and (max-width: 400px) {
  .technologies__text h2 {
    font-size: 35px;
  }
}
.technologies__text p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 23px;
  margin-top: 25px;
  text-align: left;
}
.technologies__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4rem;
  margin-bottom: 4rem;
  gap: 40px;
}
@media screen and (max-width: 500px) {
  .technologies__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin-left: 20%;
  }
}
.technologies__list h4 {
  font-size: 27px;
  padding-bottom: 10px;
}
.technologies__list p {
  color: #f1f1f1;
}

.about {
  padding-top: 5vh;
}
@media screen and (max-width: 400px) {
  .about__text h2 {
    font-size: 35px;
  }
}
.about__text p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 23px;
  margin-top: 25px;
}
.about .about__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4rem;
  margin-bottom: 4rem;
  gap: 40px;
}
@media screen and (max-width: 970px) {
  .about .about__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  }
}
.about .about__list li h5 {
  font-size: 27px;
}
@media screen and (max-width: 365px) {
  .about .about__list li h5 {
    font-size: 20px;
  }
}
.about .about__list li p {
  margin-top: 10px;
}
@media screen and (max-width: 970px) {
  .about .about__list li p {
    text-align: center;
  }
}

.container__text {
  padding-top: 280px;
}
@media screen and (max-width: 1250px) {
  .container__text {
    padding-top: 150px;
  }
}
.container__text h2, .container__text p {
  margin-bottom: 2rem;
}
.container__text p:nth-child(2) {
  font-size: 30px;
}
@media screen and (max-width: 350px) {
  .container__text p:nth-child(2) {
    font-size: 25px;
  }
}
.container__text p:nth-child(3) {
  font-size: 23px;
}
@media screen and (max-width: 350px) {
  .container__text p:nth-child(3) {
    font-size: 19px;
  }
}

.typewriter__container {
  display: flex;
  flex-wrap: wrap;
}
.typewriter__container .typewriter h2 {
  font-size: 80px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
@media screen and (max-width: 610px) {
  .typewriter__container .typewriter h2 {
    font-size: 60px;
  }
}
@media screen and (max-width: 460px) {
  .typewriter__container .typewriter h2 {
    font-size: 45px;
  }
}
@media screen and (max-width: 350px) {
  .typewriter__container .typewriter h2 {
    font-size: 35px;
  }
}
.typewriter__container .typewriter p::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 1px;
  background: #dadada;
  right: 0;
  top: 0;
  animation: cursor 1s infinite;
}

.letter {
  z-index: -1;
  position: absolute;
  width: 60vw;
  right: -350px;
  top: -45px;
}
@media screen and (max-width: 1280px) {
  .letter {
    width: 65vw;
    left: 350px;
    top: 50px;
  }
}
@media screen and (max-width: 1020px) {
  .letter {
    width: 75vw;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
  }
}
@media screen and (max-width: 575px) {
  .letter {
    top: 65%;
    opacity: 0.8;
    width: 100vw;
  }
}
.letter img {
  max-width: 100%;
}

@media screen and (max-width: 400px) {
  #section__three h2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 400px) {
  #section__three {
    margin-top: 5rem;
  }
}
#section__three .container {
  padding-top: 15vh;
}
#section__three .container .projects__choise {
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  margin-top: 4rem;
  font-size: 20px;
}
#section__three .container .projects__choise p {
  cursor: pointer;
}

.active__title {
  transform: scale(1.2) !important;
}

.active__opacity {
  opacity: 0.6;
}

.anim__left {
  -webkit-animation: slide-in-elliptic-left-fwd 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.5s;
  animation: slide-in-elliptic-left-fwd 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.5s;
}

.anim__right {
  -webkit-animation: slide-in-elliptic-right-fwd 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.5s;
  animation: slide-in-elliptic-right-fwd 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.5s;
}

.projects {
  margin-top: 5rem;
  padding: 10px;
  opacity: 0;
}
.projects button {
  background-color: transparent !important;
}
.projects .rec.rec-slider-container {
  margin: 0 5px;
}
.projects .rec.rec-arrow {
  color: #f1f1f1;
  min-width: 35px;
  width: 35px;
  height: 35px;
  font-size: 40px;
}
@media screen and (max-width: 500px) {
  .projects .rec.rec-arrow {
    display: none;
  }
}
.projects .rec.rec-arrow:disabled {
  visibility: hidden;
}
.projects .rec.rec-arrow:hover {
  color: #af2847;
  background-color: #f1f1f1;
}
.projects .rec.rec-dot {
  background-color: #af2847;
}
.projects .rec.rec-dot:hover,
.projects .rec.rec-dot :active {
  box-shadow: 0 0 1px 3px rgb(255, 255, 255) !important;
}
.projects .lcUbOd {
  box-shadow: 0 0 1px 3px rgb(255, 255, 255) !important;
}
.projects .lcUbOd:hover,
.projects .lcUbOd :active {
  box-shadow: 0 0 1px 3px rgb(255, 255, 255) !important;
}
.projects li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projects li h5 {
  font-size: 30px;
  color: #af2847;
}
.projects li .projects__img {
  padding-top: 2rem;
  max-width: 50rem;
}
@media screen and (min-width: 1440px) {
  .projects li .projects__img {
    max-width: 60rem;
  }
}
.projects li .projects__img img {
  width: 100%;
  border-radius: 10px;
}
.projects li p {
  padding-top: 15px;
  max-width: 97%;
}
.projects li .icons {
  padding-top: 20px;
}
.projects li .icons i {
  padding-left: 5px;
  padding-right: 5px;
}
.projects li a {
  padding-top: 15px;
}

.project-anim {
  -webkit-animation: slide-in-fwd-center 3.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 3.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}/*# sourceMappingURL=index.css.map */