*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

body {
  background-color: #1d1d1d;
  color: #f1f1f1;
  letter-spacing: 3px;
}

body::-webkit-scrollbar {
  display: none;
}

input,
input:focus {
  border: none;
  outline: none;
}

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("./fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Helvetica Neue Light";
  src: url("./fonts/Helvetica Neue Light.woff2") format("woff2");
}
.container__global {
  height: 100vh;
}

section {
  width: 100%;
  height: 100vh;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, 4px, 0);
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes line {
  to {
    width: 100%;
  }
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  margin-top: 2rem;
  box-shadow: 1px 7px 5px -1px rgba(0, 0, 0, 0.2);
  padding-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .link__home {
  position: absolute;
  left: 3rem;
  top: -0.4rem;
}
@media screen and (max-width: 615px) {
  nav .link__home {
    position: initial;
  }
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue Light", "Helvetica", "Arial";
}
@media screen and (max-width: 615px) {
  nav ul {
    display: none;
  }
}
nav ul li {
  transition: transform 0.3s;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (max-width: 940px) {
  nav ul li {
    font-size: 16px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
nav ul li:hover {
  transform: scale(1.08);
}
nav ul li:hover .border {
  visibility: visible;
  animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
nav ul .border {
  margin-top: 5px;
  border-bottom: 2px solid #7d1c32;
  width: 100%;
  visibility: hidden;
}
nav span {
  display: none;
}
nav .nav__responsive {
  cursor: pointer;
  position: absolute;
  top: 0.1rem;
  right: 3rem;
}

.navbar__mobile {
  position: absolute;
  top: 1.5rem;
  right: 0;
  z-index: 999;
  border: 2px solid #7d1c32;
  width: 150px;
  font-size: 20px;
}
.navbar__mobile ul {
  display: flex;
  flex-direction: column;
}

.social {
  position: fixed;
  z-index: 999;
  border: 1px solid #f1f1f1;
  border-right: none;
  width: 10rem;
  height: 3rem;
  border-radius: 10px 0 0 10px;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.social a:nth-child(2) img {
  width: 37px;
}
.social img {
  width: 30px;
}

.scroll__bottom {
  width: 50px;
  height: 75px;
  position: absolute;
  bottom: 5vh;
  right: 49vw;
}
.scroll__bottom:hover {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#section__one {
  position: relative;
}

#section__two {
  position: relative;
}
#section__two h3 {
  color: #7d1c32;
  font-family: "Helvetica Neue Bold", "Helvetica";
  font-size: 30px;
  padding-top: 10rem;
  text-align: center;
}

.skills__grid {
  display: grid;
  grid-template-areas: "A B C";
  grid-template-columns: 1fr 1fr 500px;
}

.languages {
  grid-area: A;
  padding-left: 2rem;
  letter-spacing: normal;
  font-family: "Helvetica Neue Bold", "Helvetica";
}
.languages h3 {
  padding-bottom: 5rem;
  letter-spacing: 3px;
}
.languages .years {
  font-size: 0.85rem;
  display: flex;
  justify-content: space-between;
}
.languages .years span {
  width: 36%;
}
.languages .years span:nth-child(2) {
  text-align: center;
  width: 20%;
}
.languages .years span:nth-child(3) {
  text-align: right;
  width: 44%;
}
.languages .years span:nth-child(2):before, .languages .years span:nth-child(3):before {
  content: "";
  background: rgba(180, 179, 179, 0.5);
  position: absolute;
  height: 155px;
  width: 1px;
  transform: translate(9px, 19px);
}
.languages .languagesList {
  padding-top: 0.7rem;
}
.languages .languagesList .progressBar {
  height: 0.4rem;
  background: transparent;
  border-radius: 50px;
  margin-top: 0.2rem;
  position: relative;
}
.languages .languagesList .progressBar:after {
  content: "";
  position: absolute;
  background: #f1f1f1;
  border-radius: 50px;
  height: 0.4rem;
  width: 0;
  animation: line 2s ease-out forwards;
}

.others__skills {
  font-family: "Helvetica Neue Bold", "Helvetica";
  border: 2px solid #7d1c32;
  border-radius: 10px 0 0 10px;
  height: 35rem;
  border-right: none;
  grid-area: C;
}
.others__skills h3 {
  padding-bottom: 5rem;
}
.others__skills .others__list {
  display: flex;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
}
.others__skills .others__list ul {
  width: 80%;
}
.others__skills .others__list ul li {
  padding: 20px;
}
.reveal__others {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.container__text {
  max-width: 60%;
  margin-left: 5rem;
  padding-top: 15%;
  font-family: "Helvetica Neue Light", "Helvetica", "Arial";
}
@media screen and (max-width: 1250px) {
  .container__text {
    max-width: 100% !important;
    padding-top: 25%;
    margin-left: 1rem;
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 585px) {
  .container__text {
    padding-top: 55%;
  }
}
.container__text p {
  margin-bottom: 2rem;
}
.container__text p:nth-child(1) {
  font-size: 60px;
}
@media screen and (max-width: 1250px) {
  .container__text p:nth-child(1) {
    font-size: 50px;
  }
}
@media screen and (max-width: 1020px) {
  .container__text p:nth-child(1) {
    font-size: 40px;
  }
}
@media screen and (max-width: 825px) {
  .container__text p:nth-child(1) {
    font-size: 35px;
  }
}
@media screen and (max-width: 550px) {
  .container__text p:nth-child(1) {
    font-size: 25px;
    font-family: "Helvetica Neue Bold", "Helvetica", "Arial";
  }
}
@media screen and (max-width: 450px) {
  .container__text p:nth-child(1) {
    font-size: 20px;
    font-family: "Helvetica Neue Bold", "Helvetica", "Arial";
  }
}
@media screen and (max-width: 385px) {
  .container__text p:nth-child(1) {
    font-size: 18px;
    font-family: "Helvetica Neue Bold", "Helvetica", "Arial";
  }
}
@media screen and (max-width: 340px) {
  .container__text p:nth-child(1) {
    font-size: 16px;
    font-family: "Helvetica Neue Bold", "Helvetica", "Arial";
  }
}
.container__text p:nth-child(2) {
  font-size: 30px;
  animation: focus-in-expand 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
}
@media screen and (max-width: 1250px) {
  .container__text p:nth-child(2) {
    font-size: 25px;
  }
}
@media screen and (max-width: 1020px) {
  .container__text p:nth-child(2) {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  .container__text p:nth-child(2) {
    font-size: 18px;
  }
}
@media screen and (max-width: 370px) {
  .container__text p:nth-child(2) {
    font-size: 16px;
  }
}
@media screen and (max-width: 340px) {
  .container__text p:nth-child(2) {
    font-size: 14px;
  }
}
.container__text p:nth-child(3) {
  font-size: 20px;
  animation: focus-in-expand 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s both;
}
@media screen and (max-width: 1250px) {
  .container__text p:nth-child(3) {
    font-size: 20px;
  }
}
@media screen and (max-width: 1020px) {
  .container__text p:nth-child(3) {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  .container__text p:nth-child(3) {
    font-size: 16px;
  }
}
@media screen and (max-width: 370px) {
  .container__text p:nth-child(3) {
    font-size: 14px;
  }
}
@media screen and (max-width: 340px) {
  .container__text p:nth-child(3) {
    font-size: 12px;
  }
}

.typewriter__container {
  display: flex;
  justify-content: flex-start;
}
.typewriter__container .typewriter p {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  animation: typing 3s steps(29);
}
.typewriter__container .typewriter p::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 1px;
  background: #dadada;
  right: 0;
  top: 0;
  animation: cursor 1s infinite;
}

.letter {
  z-index: -1;
  position: absolute;
  width: 70rem;
  right: 50px;
  top: -50px;
}
.letter img {
  width: 100%;
}

#section__three {
  position: relative;
}
#section__three h3 {
  color: #7d1c32;
  font-family: "Helvetica Neue Bold", "Helvetica";
  font-size: 30px;
  padding-top: 10rem;
  text-align: center;
}
#section__three .projects__choise {
  font-family: "Helvetica Neue Bold", "Helvetica";
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  margin-top: 4rem;
  font-size: 20px;
}
#section__three .projects__choise p {
  cursor: pointer;
}
#section__three .projects__choise .active {
  transform: scale(1.2);
}

.projects {
  margin-top: 5rem;
  padding: 10px;
}
.projects .rec.rec-arrow {
  color: #f1f1f1;
  background-color: #7d1c32;
}
.projects .rec.rec-arrow:hover {
  color: #7d1c32;
  background-color: #f1f1f1;
}
.projects .rec.rec-dot {
  background-color: #7d1c32;
}
.projects .rec.rec-dot:active, .projects .rec.rec-dot :hover {
  box-shadow: 0 0 1px 3px #7d1c32;
}
.projects li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projects li h5 {
  font-family: "Helvetica Neue Light", "Helvetica";
  font-size: 35px;
  color: #7d1c32;
}
.projects li .projects__img {
  padding-top: 2rem;
  max-width: 30rem;
}
.projects li .projects__img img {
  width: 100%;
  border-radius: 10px;
}
.projects li p {
  font-family: "Helvetica Neue Light", "Helvetica";
  padding-top: 15px;
  max-width: 70%;
}
.projects li .icons {
  padding-top: 20px;
}
.projects li .icons i {
  padding-left: 5px;
  padding-right: 5px;
}
.projects li a {
  padding-top: 15px;
}/*# sourceMappingURL=index.css.map */