.contact__form {
	z-index: 9999;
	width: 100vw;
	height: 100vh;
	padding-top: 23vh;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	position: fixed;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.75);
	-webkit-animation: fadeIn 1.1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fadeIn 1.1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	.form__container {
		min-width: 45vw;
		@include responsiveForm;
	}
	button {
		color: $white;
		position: absolute;
		background-color: $red;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		cursor: pointer;
		border: none;
	}
	.contact__data {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 50px;
		p:nth-child(1) {
			@include responsiveFormP;
			border-radius: 3px;
			font-size: 16px;
			background-color: $red;
			padding: 18px;
			margin-bottom: 35px;
		}
		p:nth-child(2) {
			letter-spacing: 1px;
		}
	}
	form {
		input {
			font-size: 16px;
			color: $white;
			padding: 15px;
			border-bottom: 1px solid $white;
			background-color: transparent;
		}
		div {
			display: flex;
			justify-content: space-between;
			max-width: 100%;
			input {
				width: 48%;
			}
		}
		.input__email {
			width: 100%;
		}
		.input__submit {
			border-radius: 3px;
			padding: 10px;
			border: none;
			max-width: 20%;
			cursor: pointer;
			background-color: $red;
			@include responsiveFormSubmit;
		}
	}
	textarea {
		font-size: 16px;
		resize: none;
		color: $white;
		background-color: transparent;
		margin-top: 15px;
		width: 100%;
		border: 1px solid $white;
		border-radius: 4px;
		padding: 2px;
	}
}

.anim__form {
	-webkit-animation: fadeOut 1.1s ease-out both;
	animation: fadeOut 1.1s ease-out both;
}
