#section__four {
	position: relative;
	.container__contact {
		padding-top: 15vh;
		.contact__form {
			margin-top: 5rem;
			display: flex;
			align-items: center;
			flex-direction: column;
			.form__container {
				min-width: 55vw;
				@include responsiveForm;
			}
			.contact__data {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-bottom: 50px;
				h5 {
					font-size: 27px;
					@media screen and (max-width: 470px) {
						font-size: 22px;
				}
					@media screen and (max-width: 385px) {
						font-size: 17px;
				}
				}
				a {
					font-weight: bold;
					margin-top: 15px;
					font-size: 18px;
					}
			}
			form {
				input {
					font-size: 16px;
					color: $white;
					padding: 15px;
					border-bottom: 1px solid $white;
					background-color: transparent;
				}
				div {
					display: flex;
					justify-content: space-between;
					max-width: 100%;
					input {
						width: 48%;
					}
				}
				.input__email {
					width: 100%;
				}
				.input__submit {
					border-bottom: none;
					font-family: 'Space Grotesk', 'sans-serif';
					cursor: pointer;
					background-image: linear-gradient(to right, #616161 0%, #9bc5c3  51%, #616161  100%);
				   	margin: 10px;
				   	padding: 9px 30px;
				   	text-align: center;
				   	transition: 0.5s;
				   	background-size: 200% auto;
				   	font-size: 18px;      
				   	border-radius: 10px;
				 }
				 .input__submit:hover {
				   	background-position: right center; 
				   	color: #fff;
				   	text-decoration: none;
				 }
			}
			textarea {
				font-size: 16px;
				resize: none;
				color: $white;
				background-color: transparent;
				margin-top: 15px;
				width: 100%;
				border: 1px solid $white;
				border-radius: 4px;
				padding: 2px;
			}
		}
	}
}

.active__opacity {
	opacity: 0.2;
}
