.container__text {
	padding-top: 280px;
	@include responsiveHomeText;
	h2, p {
		margin-bottom: 2rem;
	}
	p:nth-child(2) {
		font-size: 30px;
		@include responsiveP1size;
		// animation: focus-in-expand 1.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.4s both;
	}
	p:nth-child(3) {
		@include responsiveP2size;
		font-size: 23px;
		// animation: focus-in-expand 1.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.4s both;
	}
}

.typewriter__container {
	display: flex;
	flex-wrap: wrap;
	.typewriter h2 {
		font-size: 80px;
		overflow: hidden;
		white-space: nowrap;
		position: relative;
		// animation: typing 1.8s steps(29);
		@include responsiveTitleSize;
	}
	.typewriter p::after {
		content: '';
		position: absolute;
		display: block;
		height: 100%;
		width: 1px;
		background: #dadada;
		right: 0;
		top: 0;
		animation: cursor 1s infinite;
	}
}

.letter {
	z-index: -1;
	position: absolute;
	width: 60vw;
	right: -350px;
	top: -45px;
	@include responsiveImg;
	img {
		max-width: 100%;
	}
}
