nav {
	position: fixed;
	z-index: 999;
	width: 100%;
	box-shadow: 1px 7px 5px -1px rgba(0, 0, 0, 0.2);
	padding-top: 2rem;
	padding-bottom: 45px;
	display: flex;
	justify-content: center;
	align-items: center;

	.link__home {
		position: absolute;
		left: 3rem;
		@include responsiveNavLogo;
	}

	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		@include responsiveNavbarDisplay;

		li {
			transition: transform 0.3s;
			margin-left: 3rem;
			margin-right: 3rem;
			font-size: 20px;
			cursor: pointer;
			@include responsiveNavbarSize;
		}

		li:hover {
			transform: scale(1.08);

			.border {
				visibility: visible;
				animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
			}
		}

		.border {
			margin-top: 5px;
			border-bottom: 2px solid $red;
			width: 100%;
			visibility: hidden;
		}
	}
}

.nav__responsive {
	z-index: 1001;
	cursor: pointer;
	position: fixed;
	right: 48px;
	top: 20px;
	img {
		width: 35px;
	}
	.navbar__mobile {
		background-color: rgba(0, 0, 0, 0.85);
		position: fixed;
		z-index: 999;
		right: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		.ul__mobile {
			font-size: 24px;
			display: flex;
			flex-direction: column;
			text-align: center;
			margin-top: -85px;

			a,
			div {
				padding-bottom: 35px;
				-webkit-animation-name: fadeIn;
				animation-name: fadeIn;
				-webkit-animation-duration: 1.5s;
				animation-duration: 1.5s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
			}

			p {
				border: 1px solid white;
				border-radius: 20px;
				padding: 5px;
				font-size: 35px;
				position: absolute;
				top: 20px;
				right: 46px;
			}
		}
	}
}

@for $i from 1 to 5 {
	.anim-#{$i} {
		animation-delay: #{$i * 0.1}s;
	}
}