.projects {
	margin-top: 5rem;
	li {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		h5 {
			font-family: 'Helvetica Neue Light', 'Helvetica';
			font-size: 35px;
			color: $red;
		}
		.projects__img {
			padding-top: 2rem;
			max-width: 30rem;
			img {
				width: 100%;
				border-radius: 10px;
			}
		}
		p {
            font-family: 'Helvetica Neue Light', 'Helvetica';
			padding-top: 15px;
			max-width: 70%;
		}
		.icons {
			padding-top: 20px;
			i {
				padding-left: 5px;
				padding-right: 5px;
			}
		}
		a {
			padding-top: 15px;
		}
	}
}
