.projects {
	margin-top: 5rem;
	padding: 10px;
	opacity: 0;
	button {
		margin: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.rec.rec-slider-container {
		margin: 0 5px;
	}
	.rec.rec-arrow {
		color: $white;
		background-color: $red;
		@include responsiveSlideBtn;
		&:hover {
			color: $red;
			background-color: $white;
		}
	}
	.rec.rec-dot {
		background-color: $red;
		&:hover,
		:active {
			box-shadow: 0 0 1px 3px rgb(255, 255, 255) !important;
		}
	}
	.lcUbOd {
		box-shadow: 0 0 1px 3px rgb(255, 255, 255) !important;
		&:hover,
		:active {
			box-shadow: 0 0 1px 3px rgb(255, 255, 255) !important;
		}
	}

	li {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		h5 {
			font-family: 'Helvetica Neue Light', 'Helvetica';
			font-size: 30px;
			color: $red;
			@include responsiveProjectsTitle;
		}
		.projects__img {
			padding-top: 2rem;
			max-width: 35rem;
			img {
				width: 100%;
				border-radius: 10px;
			}
		}
		p {
			font-family: 'Helvetica Neue Light', 'Helvetica';
			padding-top: 15px;
			max-width: 97%;
		}
		.icons {
			padding-top: 20px;
			i {
				padding-left: 5px;
				padding-right: 5px;
			}
		}
		a {
			padding-top: 15px;
		}
	}
}

.project-anim {
	-webkit-animation: slide-in-fwd-center 3.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-in-fwd-center 3.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
