.grid {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1.5rem;
    row-gap: 2.5rem;
    @include responsiveGrid;
    .project__container {
        text-align: center;
        h5 {
            font-size: 26px;
            margin: 0 auto;
            padding-bottom: 15px;
        }

        a {
            min-width: 100%;

            img {
                width: 100%;
            }
        }
        .icons {
            padding-top: 15px;
        }
    }
}