.languages {
	grid-area: A;
	padding-left: 2rem;
	letter-spacing: normal;
	font-family: 'Helvetica Neue Bold', 'Helvetica';
	max-width: 100%;
	@include responsiveProgressBar;
	h3 {
		padding-bottom: 2rem;
		letter-spacing: 2px;
		color: $white !important;
		@include responsiveH3;
	}
	.years {
		font-size: 0.85rem;
		display: flex;
		justify-content: space-between;
		span {
			width: 36%;
			&:nth-child(2) {
				text-align: center;
				width: 20%;
			}
			&:nth-child(3) {
				text-align: right;
				width: 44%;
			}
			&:nth-child(2):before,
			&:nth-child(3):before {
				content: '';
				background: $red;
				opacity: 0.9;
				// background: rgba(180, 179, 179, 0.5);
				position: absolute;
				height: 155px;
				width: 1px;
				transform: translate(9px, 19px);
			}
		}
	}
	.languagesList {
		padding-top: 0.7rem;
		.progressBar {
			height: 0.4rem;
			background: transparent;
			border-radius: 50px;
			margin-top: 0.2rem;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				background: $white;
				border-radius: 50px;
				height: 0.4rem;
				width: 0;
				animation: line 2s ease-out forwards;
			}
		}
	}
}

