.social {
	position: fixed;
	z-index: 999;
	bottom: 0;
	right: 0;
	width: 10rem;
	height: 3rem;
	border: 1px solid $white;
	border-right: none;
	border-radius: 10px 0 0 10px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight;
	-webkit-animation-duration: 2.5s;
	animation-duration: 2.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	a:nth-child(2) {
		img {
			width: 37px;
		}
	}
	img {
		width: 30px;
	}
}
