#section__three {
	position: relative;
	@include responsiveProjectsPage;
	h3 {
		color: $red;
		font-family: 'Helvetica Neue Bold', 'Helvetica';
		font-size: 30px;
		padding-top: 10rem;
		text-align: center;
	}
	.projects__choise {
		font-family: 'Helvetica Neue Bold', 'Helvetica';
		justify-content: space-evenly;
		align-items: center;
		display: flex;
		margin-top: 4rem;
		font-size: 20px;
		p {
			cursor: pointer;
		}
		.active {
			transform: scale(1.2);
		}
	}
}

.anim__left {
	-webkit-animation: slide-in-elliptic-left-fwd 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both .5s;
	animation: slide-in-elliptic-left-fwd 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both .5s;
}

.anim__right {
	-webkit-animation: slide-in-elliptic-right-fwd 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both .5s;
	animation: slide-in-elliptic-right-fwd 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both .5s;
}
