#section__three {
	@include responsiveAboutTitle;
	@include responsiveProjectsPage;
	.container {
		padding-top: 15vh;
		.projects__choise {
			width: 100%;
			justify-content: space-evenly;
			align-items: center;
			display: flex;
			margin-top: 4rem;
			font-size: 20px;
			p {
				cursor: pointer;
			}
		}
	}
}

.active__title {
	transform: scale(1.2)!important;
}

.active__opacity {
	opacity: 0.60;
}


.anim__left {
	-webkit-animation: slide-in-elliptic-left-fwd 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.5s;
	animation: slide-in-elliptic-left-fwd 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.5s;
}

.anim__right {
	-webkit-animation: slide-in-elliptic-right-fwd 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.5s;
	animation: slide-in-elliptic-right-fwd 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.5s;
}
