//------------------ NAVBAR----------------

@mixin responsiveNavbarSize {
	@media screen and (max-width: 940px) {
		font-size: 16px;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
}

@mixin responsiveNavbarDisplay {
	@media screen and (max-width: 615px) {
		display: none;
	}
}

@mixin responsiveNavLogo {
	@media screen and (max-width: 615px) {
		position: initial;
	}
}

@mixin navbarMobileDisplay {
	@media screen and (min-width: 615px) {
		display: none;
	}
}

//------------HOME TEXT------------------

@mixin responsiveHomeText {
	@media screen and (max-width: 1250px) {
		padding-top: 200px;
		max-width: 100% !important;
		margin-left: 1rem;
		margin-right: 0.5rem;
	}
}

@mixin responsiveHelloText {
	@media screen and (max-width: 400px) {
		font-size: 5.5vw;
		font-family: 'Helvetica Neue Bold', 'Helvetica';
	}
	@media screen and (min-width: 400px) and (max-width: 1110px) {
		font-size: 5.8vw;
	}
}

@mixin responsiveIamText {
	@media screen and (max-width: 400px) {
		font-size: 5.5vw;
	}
	@media screen and (min-width: 400px) and (max-width: 650px) {
		font-size: 4.3vw;
	}
}

@mixin responsiveInfoText {
	@media screen and (max-width: 400px) {
		font-size: 4.5vw;
	}
	@media screen and (min-width: 400px) and (max-width: 650px) {
		font-size: 3.3vw;
	}
}

@mixin responsiveImg {
	@media screen and (max-width: 1250px) {
		width: 65vw;
		left: 350px;
		top: 50px;
	}
	@media screen and (max-width: 1020px) {
		width: 75vw;
		transform: translate(-50%, -50%);
		top: 70%;
		left: 50%;
	}
	@media screen and (max-width: 575px) {
		top: 77%;
		width: 85vw;
	}
}

// Page skills

@mixin responsiveSkills {
	@media screen and (max-width: 900px) {
		grid-template-areas:
			'A'
			'B';
		grid-template-columns: auto;
	}
	@media screen and (max-width: 420px) {
		display: block;
	}
}

@mixin responsiveProgressBar {
	@media screen and (max-width: 900px) {
		max-width: 90%;
	}
	@media screen and (max-width: 400px) {
		margin-top: -5rem;
	}
}

@mixin responsiveOthersSkills {
	@media screen and (max-width: 400px) {
		margin-top: -5rem;
	}
}

@mixin responsiveOthersSkillsLi {
	@media screen and (max-width: 400px) {
		padding: 0.8rem;
	}
}

@mixin responsiveH3 {
	@media screen and (max-width: 400px) {
		font-size: 20px !important;
	}
}

// Page Projects

@mixin responsiveProjectsPage {
	@media screen and (max-width: 400px) {
		margin-top: 5rem;
	}
}

@mixin responsiveProjectsTitle {
	@media screen and (max-width: 400px) {
		font-size: 25px;
	}
}

@mixin responsiveSlideBtn {
	@media screen and (max-width: 735px) {
		min-width: 35px;
		width: 35px;
		height: 35px;
		font-size: 20px;
	}
	@media screen and (max-width: 500px) {
		display: none;
	}
}

// Contact form

@mixin responsiveForm {
	@media screen and (max-width: 530px) {
		max-width: 80vw;
	}
}

@mixin responsiveFormP {
	@media screen and (max-width: 530px) {
		padding: 12px;
		font-size: 14px;
		margin-top: 1.8rem;
	}
}

@mixin responsiveFormSubmit {
	@media screen and (max-width: 530px) {
		max-width: 35%;
		padding: 10px;
		font-size: 12px;
	}
}

// Section

@mixin responsiveBigScreen {
	@media screen and (min-width: 1440px) {
		padding-top: 20vh;
	}
}

@mixin responsiveBigScreenImg {
	@media screen and (min-width: 1440px) {
		max-width: 45rem;
	}
}
