//------------------ NAVBAR----------------

@mixin responsiveNavbarSize {
	@media screen and (max-width: 940px) {
		font-size: 16px;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
}

@mixin responsiveNavbarDisplay {
	@media screen and (max-width: 615px) {
		display: none;
	}
}

@mixin responsiveNavLogo {
	@media screen and (max-width: 615px) {
		position: initial;
	}
}

@mixin navbarMobileDisplay {
	@media screen and (min-width: 615px) {
		display: none;
	}
}

//------------HOME TEXT------------------

@mixin responsiveHomeText {
	@media screen and (max-width: 1250px) {
		padding-top: 150px;
	}
}

@mixin responsiveTitleSize {
	@media screen and (max-width: 610px) {
		font-size: 60px;
	}
	@media screen and (max-width: 460px) {
		font-size: 45px;
	}
	@media screen and (max-width: 350px) {
		font-size: 35px;
	}
}

@mixin responsiveP1size {
	@media screen and (max-width: 350px) {
		font-size: 25px;
	}
}

@mixin responsiveP2size {
	@media screen and (max-width: 350px) {
		font-size: 19px;
	}
}

@mixin responsiveImg {
	@media screen and (max-width: 1250px) {
		width: 65vw;
		left: 350px;
		top: 50px;
	}
	@media screen and (max-width: 1020px) {
		width: 75vw;
		transform: translate(-50%, -50%);
		top: 70%;
		left: 50%;
	}
	@media screen and (max-width: 575px) {
		top: 77%;
		width: 85vw;
	}
}

// A propos 

@mixin responsiveAboutTitle {
	@media screen and (max-width: 400px) {
		h2 {
			font-size: 35px;
		}
	}
}

@mixin responsiveGrid {
	@media screen and (max-width: 500px) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3,1fr);
		margin-left: 20%;
	}
}

@mixin responsiveGridAbout {
	@media screen and (max-width: 970px) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3,1fr);
		justify-items: center;
	}
}

@mixin responsiveSizeAbout {
	@media screen and (max-width: 365px) {
			font-size: 20px;
	}
}

@mixin responsiveSizeAboutP {
	@media screen and (max-width: 970px) {
			text-align: center;
	}
}

// Page Projects

@mixin responsiveProjectsPage {
	@media screen and (max-width: 400px) {
		margin-top: 5rem;
	}
}

@mixin responsiveSlideBtn {
	@media screen and (max-width: 500px) {
		display: none;
	}
}

// Contact form

@mixin responsiveForm {
	@media screen and (max-width: 530px) {
		max-width: 80vw;
	}
}

@mixin responsiveFormP {
	@media screen and (max-width: 530px) {
		padding: 12px;
		font-size: 14px;
		margin-top: 1.5rem;
	}
}

@mixin responsiveFormSubmit {
	@media screen and (max-width: 530px) {
		max-width: 35%;
		padding: 10px;
		font-size: 12px;
	}
}

// Section

@mixin responsiveBigScreenImg {
	@media screen and (min-width: 1440px) {
		max-width: 50rem;
	}
}
