//------------------ NAVBAR----------------

@mixin responsiveNavbarSize {
	@media screen and (max-width: 940px) {
		font-size: 16px;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
}

@mixin responsiveNavbarDisplay {
	@media screen and (max-width: 615px) {
		display: none;
	}
}

@mixin responsiveNavLogo {
	@media screen and (max-width: 615px) {
		position: initial;
	}
}

@mixin navbarMobileDisplay {
	@media screen and (min-width: 615px) {
		display: none;
	}
	@media screen and (max-width: 615px) {
		display: block;
	}
}

//------------HOME TEXT------------------

@mixin responsiveHomeText {
	@media screen and (max-width: 1250px) {
		padding-top: 200px;
		max-width: 100% !important;
		margin-left: 1rem;
		margin-right: 0.5rem;
	}
}

@mixin responsiveHelloText {
	@media screen and (max-width: 400px) {
		font-size: 5.5vw;
		font-family: 'Helvetica Neue Bold', 'Helvetica';
	}
	@media screen and (min-width: 400px) and (max-width: 1110px) {
		font-size: 5.8vw;
	}
}

@mixin responsiveIamText {
	@media screen and (max-width: 400px) {
		font-size: 5.5vw;
	}
	@media screen and (min-width: 400px) and (max-width: 650px) {
		font-size: 4.3vw;
	}
}

@mixin responsiveInfoText {
	@media screen and (max-width: 400px) {
		font-size: 4.5vw;
	}
	@media screen and (min-width: 400px) and (max-width: 650px) {
		font-size: 3.3vw;
	}
}

@mixin responsiveImg {
	@media screen and (max-width: 1250px) {
		width: 65vw;
		left: 350px;
		top: 50px;
	}
	@media screen and (max-width: 1020px) {
		width: 75vw;
		transform: translate(-50%, -50%);
		top: 70%;
		left: 50%;
	}
	@media screen and (max-width: 575px) {
		top: 65%;
		width: 85vw;
	}
}

// Page skills

@mixin responsiveSkills {
	@media screen and (max-width: 900px) {
		grid-template-areas:
			'A'
			'B';
		grid-template-columns: auto;
	}
	@media screen and (max-width: 420px) {
		display: block;
	}
}

@mixin responsiveProgressBar {
	@media screen and (max-width: 900px) {
		max-width: 90%;
	}
	@media screen and (max-width: 400px) {
		margin-top: -5rem;
	}
}

@mixin responsiveOthersSkills {
	@media screen and (max-width: 400px) {
		margin-top: -5rem;
	}
}

@mixin responsiveOthersSkillsLi {
	@media screen and (max-width: 400px) {
		padding: 0.8rem;
	}
}

// Projects

@keyframes slide-in-bck-bottom {
	0% {
		-webkit-transform: translateZ(700px) translateY(300px);
		transform: translateZ(700px) translateY(300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		opacity: 1;
	}
}

@keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-2000px, 0, 0);
		transform: translate3d(-2000px, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(2000px, 0, 0);
		transform: translate3d(2000px, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
