$bg-black: #1d1d1d;
$white: #f1f1f1;
$red: #7d1c32;
$beige: #e2ded5;

$circle-size: 75px;
$circle-background: gray;
// $circle-color: $red;
$inset-size: 65px;
$inset-color: $bg-black;
$transition-length: 2s;
$i: 0;
$increment: 180deg * 0.01;
