$bg-black: #1d1d1d;
$white: #f1f1f1;
$red: #af2847;
$beige: #e2ded5;
$font-soft: rgba(255,255,255,0.5);
$font-degrade: linear-gradient(121.57deg,#FFFFFF 18.77%,rgba(255,255,255,0.66) 60.15%);
$font-white: rgba(255,255,255,0.75);
$circle-size: 75px;
$half-circle-size: 50px;
$circle-background: gray;
$inset-size: 65px;
$half-inset-size: 43.3px;
$inset-color: $bg-black;
$transition-length: 2.8s;
