$bg-black: #1d1d1d;
$white: #f1f1f1;
$red: #af2847;
// $red: #C32C5A; // WCAG
$beige: #e2ded5;

$circle-size: 75px;
$half-circle-size: 50px;
$circle-background: gray;
$inset-size: 65px;
$half-inset-size: 43.3px;
$inset-color: $bg-black;
$transition-length: 2.8s;
